body{
    display: flex;
    justify-content: center;
    padding-top: 200px;
}
input{
    height: 50px;
}
button{
    height: 55px;
    width: 70px;
}
.justbeincenterthankyou{
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
}
